img {
  margin-right: 15px;
  position: relative;
  top: -15px;
}

h3 {
  opacity: 0.6;
}

.weather-app {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(104, 176, 171, 0.6) 100%
  );
  border: none;
  border-radius: 30px;
  box-shadow: 0px 11px 22px rgb(0 0 0 / 30%);
  color: #006a71;
  font-family: "Quicksand", sans-serif;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
}

form {
  margin-bottom: 50px;
}

.search-menu {
  justify-content: space-between;
}

.search-bar {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
}

.menu-btn {
  color: #006a71;
  background: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 20%);
  padding: 10px 20px;
  transition: all 150ms ease-in-out;
}

.menu-btn:hover {
  background: #006a71;
  color: #fff;
}

.current-city {
  font-weight: 600;
}

.date-time {
  font-size: 18px;
  margin-bottom: 30px;
}

.current-temp {
  font-size: 60px;
  margin-bottom: 30px;
}

.temp-symbol {
  font-size: 20px;
  position: relative;
  bottom: 25px;
}

.weather-info {
  margin-bottom: 35px;
}

.high-low {
  font-size: 30px;
}

.future-weather {
  margin: 30px 0 30px;
  font-weight: bold;
  text-align: center;
  justify-content: space-evenly;
}

.code-link {
  color: #006a71;
  margin-left: 20%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forcast-date {
  margin-bottom: 25px;
  font-size: 16px;
  opacity: 0.6;
}

.weather-forcast-temperatures {
  font-size: 13px;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-forecast img {
  margin: 0;
}

footer {
  text-align: center;
  opacity: 0.7;
}

footer a {
  color: #006a71;
}

@media (max-width: 426px) {
  .container {
    padding: 0;
  }

  .weather-app {
    margin: 0px auto;
    border-radius: 0;
    box-shadow: none;
  }

  .high-low {
    font-size: 24px;
  }
}
